# Custom Apps Configuration
# Format: DISPLAY_NAME=PATH|DESCRIPTION
# Example: MY_APP=/path/to/run.sh|My Application

SILLY_TAVERN=/home/sam/Appz/run_SillyTavern.sh|Silly Tavern Ui
SD_CPP=/home/sam/Appz/run_sd.cpp-webui.sh|Sd.cpp-webui
